<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>giornataPlugin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>iconExtension</string>
			<key>CFBundleTypeName</key>
			<string>Giornata Plugin</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>giornataData</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Giornata Desktop Data</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Giornata</string>
	<key>CFBundleGetInfoString</key>
	<string>0.70, Copyright 2007 Stephen Voida</string>
	<key>CFBundleIconFile</key>
	<string>iconGiornata</string>
	<key>CFBundleIdentifier</key>
	<string>edu.gatech.inspace.Giornata</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Giornata</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.70</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4.8</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSMainNibFile</key>
	<string>VirtueDesktops</string>
	<key>NSPrincipalClass</key>
	<string>VTApplication</string>
	<key>SUFeedURL</key>
	<string>http://giornata.sourceforge.net/appcast.xml</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
